body{
    font-family: 'Lato', sans-serif;
    text-align: center;
    background: rgb(172, 240, 178);
}

input[type="submit"]:hover {

    background-color: rgb(32, 145, 22);

}

h1{
    color: blueviolet;
}


